.shops__search {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-2);
  padding: 30px 400px 30px 50px;
}

.shops__search p {
  font-weight: 600;
  font-size: 18px;
}
.select__search {
  width: 35%;
  border-radius: 3px;
  border-color: var(--primary-color);
  font-size: 14px;
}

.shops__body {
  display: flex;
  /* justify-content: center; */
  background-color: var(--primary-color-2);
  /* padding-left: 10px; */
}

.shops__tab-title {
  padding: 10px;
}


.tab-item {
  padding: 10px;
  border: 1px solid #e9e7e7;
}

.tab-item.active {
  background-color: #d3d2d2;
}

.tab__item-title {
  font-weight: 600;
}

.tab__item-guide {
  color: #47b4e8;
  font-weight: 600;
}

.tab-item:hover {
  background-color: #d3d2d2;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
